USE [master]
GO
/****** Object:  Database [University]    Script Date: 9/18/2018 11:54:56 AM ******/
CREATE DATABASE [University]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'University', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\University.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'University_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\University_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [University].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [University]
GO
/****** Object:  Table [dbo].[CF]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CF](
	[Crs_ID] [int] NOT NULL,
	[Field_ID] [int] NOT NULL,
	[kind] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Crs_ID] [int] NOT NULL,
	[Cname] [nvarchar](50) NOT NULL,
	[unit] [int] NOT NULL,
	[TypeC_ID] [int] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Field]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[Field_ID] [int] NOT NULL,
	[Field_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Field] PRIMARY KEY CLUSTERED 
(
	[Field_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G](
	[Std_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
	[Term] [int] NOT NULL,
	[Gradent] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PC]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PC](
	[prof_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
	[Term] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pre]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pre](
	[course_ID] [int] NOT NULL,
	[Pre_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[prof]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prof](
	[prof_ID] [int] NOT NULL,
	[Pname] [nvarchar](50) NOT NULL,
	[Degree] [nchar](10) NOT NULL,
 CONSTRAINT [PK_prof] PRIMARY KEY CLUSTERED 
(
	[prof_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_ID] [int] NOT NULL,
	[Sname] [nvarchar](50) NOT NULL,
	[Start_Year] [nvarchar](50) NOT NULL,
	[Field_ID] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tution]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tution](
	[Field_ID] [int] NOT NULL,
	[Start_Year] [nvarchar](50) NOT NULL,
	[ConstTuition] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type_Course]    Script Date: 9/18/2018 11:54:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Course](
	[TypeC_ID] [int] NOT NULL,
	[TypeC_Name] [nvarchar](50) NOT NULL,
	[Fee] [int] NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CF]  WITH CHECK ADD  CONSTRAINT [FK_CF_Course1] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[CF] CHECK CONSTRAINT [FK_CF_Course1]
GO
ALTER TABLE [dbo].[CF]  WITH CHECK ADD  CONSTRAINT [FK_CF_Field1] FOREIGN KEY([Field_ID])
REFERENCES [dbo].[Field] ([Field_ID])
GO
ALTER TABLE [dbo].[CF] CHECK CONSTRAINT [FK_CF_Field1]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Type] FOREIGN KEY([TypeC_ID])
REFERENCES [dbo].[Type_Course] ([TypeC_ID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Type]
GO
ALTER TABLE [dbo].[G]  WITH CHECK ADD  CONSTRAINT [FK_G_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[G] CHECK CONSTRAINT [FK_G_Course]
GO
ALTER TABLE [dbo].[G]  WITH CHECK ADD  CONSTRAINT [FK_G_Student] FOREIGN KEY([Std_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[G] CHECK CONSTRAINT [FK_G_Student]
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD  CONSTRAINT [FK_PC_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[PC] CHECK CONSTRAINT [FK_PC_Course]
GO
ALTER TABLE [dbo].[PC]  WITH CHECK ADD  CONSTRAINT [FK_PC_prof] FOREIGN KEY([prof_ID])
REFERENCES [dbo].[prof] ([prof_ID])
GO
ALTER TABLE [dbo].[PC] CHECK CONSTRAINT [FK_PC_prof]
GO
ALTER TABLE [dbo].[Pre]  WITH CHECK ADD  CONSTRAINT [FK_Pre_Course] FOREIGN KEY([course_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Pre] CHECK CONSTRAINT [FK_Pre_Course]
GO
ALTER TABLE [dbo].[tution]  WITH CHECK ADD  CONSTRAINT [FK_tution_Field] FOREIGN KEY([Field_ID])
REFERENCES [dbo].[Field] ([Field_ID])
GO
ALTER TABLE [dbo].[tution] CHECK CONSTRAINT [FK_tution_Field]
GO
USE [master]
GO
